h1 {
    text-align: center;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    font-weight: 300;
}
h4 {
  text-align: center;
  font-weight: 100;
}
.sidebar {
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: darkorchid;
  }
  .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
  }
  .body-text {
    margin-left: 150px;
    font-size: 18px;
  }
  .ulist {
    text-align: center;
  }
  .ulist > ul {
    display:inline-block
  }
  
