h1 {
  text-align: left;
  font-size: 60px;
}
p {
  padding-left: 225px;
}
h2 {
  padding-left: 225px;
}
h3 {
   padding-left: 225px;
    font-weight: 300;
}
h4 {
 
  font-weight: 100;
  padding-left: 235px;
}
.sidebar {
    height:1200px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 200px;
    background-image: linear-gradient( to right, purple, darkorchid);
  }
  .emplist {
   padding-left: 225px;
  }
  .edulist{
   padding-left: 225px;
  }
  .proficiency{
    width: 155px;
    height: 15px;
    position: absolute;
    left: 20px;
    border-style: solid;
    position: absolute;
    left: 20px;
  }
  .cfiller{
    width: 158px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 373px;
    left: 20px;
    height: 16px;
  }
  .pffiller{
    width: 158px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 445px;
    left: 20px;
    height: 16px;
  }
  .tfiller{
    width: 116px;
    height: 16px;
    background-color: black;
    position: absolute;
    top: 540px;
    left: 20px;
  }
  .engfiller {
    width: 160px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 874px;
    left: 20px;
    height: 16px;
  }
  .frfiller {
    width: 116px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 946px;
    left: 20px;
    height: 16px;
  }
  .box1 {
  position: absolute;
  left: 0;
  top: 1200px;
  height: 200px;
  width: 200px;
  background-color:darkorchid;
  z-index: 50;
  }
  .box2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 100px;
    background-color: darkorchid;
    z-index: 50;
    }
  .mainbody{
    padding-top: 182px;
  }
  .circle1 {
    position: absolute;
    left: 40px;
    top: 0;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background: darkorchid;
    z-index: 50;
  }
  .circle2 {
    position: absolute;
    left: 175px;
    top: 30px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    display: block;
    z-index: 50;
  }
  .circle3 {
    position: absolute;
    left: 230px;
    top: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    display: block;
    z-index: 50;
  }
.circle4 {
    position: absolute;
    left: 300px;
    top: 0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color:  darkorchid;
    display: block;
    z-index: 50;
  }
  .circle5 {
    position: absolute;
    left: 350px;
    top: 0;
    border-radius: 50%;
    height: 60px;
    width: 80px;
    background-color:  darkorchid;
    display: block;
    z-index: 50;
  }
  .walker {
    font-size: 70px;
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 50px;
    
  }
  .date {
    color: grey;
  }
  .profiledescription {
    padding-left: 225px;
  }
  .sidebarheading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size: 33px;
    padding-top: 50px;
  }
  .html, body {
    width: 830px
  }
  .Goodbye {
    font-size: 50px;
  }

  .sidebartext {
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
  }

  .barheading {
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.bbox1 {
position: absolute;
left: 0;
top: 0;
height: 200px;
width: 200px;
background-color:darkorchid;
z-index: 50;
}
.bbox2 {
  position: absolute;
  left: 0;
  top: 1380px;
  height: 40px;
  width: 100px;
  background-color: darkorchid;
  z-index: 50;
  }
.bcircle1 {
  position: absolute;
  left: 40px;
  top: 1220px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: darkorchid;
  z-index: 50;
}
.bcircle2 {
  position: absolute;
  left: 175px;
  top: 1300px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: darkorchid;
  display: block;
  z-index: 50;
}
.bcircle3 {
  position: absolute;
  left: 230px;
  top: 1330px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: darkorchid;
  display: block;
  z-index: 50;
}
.bcircle4 {
  position: absolute;
  left: 290px;
  top: 1350px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color:  darkorchid;
  display: block;
  z-index: 50;
}
.bcircle5 {
  position: absolute;
  left: 320px;
  top: 1366px;
  border-radius: 50%;
  height: 30px;
  width: 40px;
  background-color:  darkorchid;
  display: block;
  z-index: 50;
}
