h1 {
    text-align: center;
}
p {
  padding-left: 225px;
}
h2 {
  padding-left: 225px;
}
h3 {
   padding-left: 225px;
    font-weight: 300;
}
h4 {
 
  font-weight: 100;
  padding-left: 225px;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    background-color:darkorchid;
  }
  .sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
    padding-left: 0px;
  }
  .ulist {
   padding-left: 200px;
  }
  
